<!DOCTYPE html>
<HTML lang="bs">

<HEAD>
    <TITLE>login</TITLE>
    <link href="login.css" rel="stylesheet">
    <meta charset="UTF-8">
</HEAD>

<BODY>
   <div id="forma">
        <form>


          
                
                    <label  class="label1">username</label>
                    <input type="text" name="username">
                    <label  class="label1">password</label>
                    <input type="password" name="username">
                    <button type="submit" id="buttonn">Login</button> 
                  
                
              
               
            



        </form>
        </div>
    
</BODY>

</HTML>