<!DOCTYPe html>
<html lang="bs">
    <head>
        <title>zadaci</title>
        <link href="zadaci.css" rel="stylesheet">
         <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>

    <body>
        <div id="header">
            <h1>Odabir vježbe</h1>
            <img id="logo" src="knjigaIkona.svg" alt="logo">
            <div id="meni">
                <ul>
                    <li><a href="studenti.html">Pregled studenata</a></li>
                    <li><a href="zadaci.html">Odabir vježbe</a></li>
                    <li><a href="commiti.html">Pregled commita</a></li>
                    <li><a href="addZadatak.html">Dodavanje zadatka</a></li>
                    <li><a href="addVjezba.html">Dodavanje vježbe/spirale</a></li>
                    <li><a href="addStudent.html">Dodavanje studenata</a></li>
                    <li><a href="addGodina.html">Dodavanje godine</a></li>
                </ul>
            </div>
        </div>
        <div class="cetvrtina" id ="godina">
            <h3>Godina</h3>
            <ul>
                <li>Godina 2014/15</li>
                <li>Godina 2015/16</li>
                <li>Godina 2016/17</li>
                <li>Godina 2017/18</li>
                <li>Godina 2018/19</li>
                
            </ul>

        </div>
        <div class="cetvrtina" id ="imena">
                <h3>Student</h3>
                <form>
                <div id="inputID">
                <input type="text" id="fname" name="fname" value="text, name=query">
                
                </div>
                <br>
                <div id="buttonID">
                    </div>
                       
                        <input type="submit" value="Search">
                    </form>
                
                
                <br>
                <ul>
                        <li>Ime i prezime|index </li>
                        <li>Neko Nekić|12345</li>
                        <li>Neko Nekić|12345</li>
                        <li>Neko Nekić|12345</li>
                        <li>Neko Nekić|12345</li>
                </ul>

        </div>
        <div class ="polovina">
            <div class ="folder">
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vježbe
                <br>
                <div class="item">
                <br>    
                 Vježba 1
                </div>
                <div class="item">
                        <br>
                    Vježba 2
                </div>
                <div class="item">
                        <br>
                    Vježba 3
                </div>
                <div class="item">
                        <br>
                    Vježba 4
                </div> 
                <div class="item">
                        <br>
                    Vježba 5
                </div>
                <div class="item">
                    <br>
                    Vježba 6
                </div>
                               
            </div>
            <br>
            <div class ="folder">
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Spirale
                    <br>
                    <div class="item">
                            <br>
                        Spirala 1
                    </div>
                    <div class="item">
                            <br>
                        Spirala 2
                    </div>
                    <div class="item">
                            <br>
                        Spirala 3
                    </div>
                    <div class="item">
                            <br>
                        Spirala 4
                    </div> 
            </div>
        </div>
        <div id="footer">
            <p>Web tehnologije 2018/19</p>
        </div>
    </body>
</html>